:root {
	--main-color: #7cc2da;
}

body {
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
}

header,
main,
footer {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
	color: black;
}

.wrapper {
	display: flex;
	width: 940px;
}

/********************************************************/
/*				HEADER 									*/
/********************************************************/

header {
	height: 450px;
	justify-content: space-between;
	background: url(http://placehold.it/1920x370) no-repeat;
	background-position: bottom;
}

.main-header {
	height: 80px;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin-left: 10px;
	font-weight: bold;
	color: var(--main-color);
	font-size: 20px;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
	display: inline-block;
    position: relative;
    vertical-align: top;
	margin-right: 10px;
}

.header_admin {
    min-height: 60px;
    background: #64bf92;
    width: 100%;
}

.left_admin {
    float: left;
    margin-left: 10px;
}

.header_admin a {
    color: white;
    display: block;
    padding: 20px 5px;
}

.left_admin li:hover::after {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: -1px;
    height: 3px;
    background-color: #fff;
}

.right_admin {
    float: right;
    margin-right: 10px;
}



/********************************************************/
/*				MAIN 									*/
/********************************************************/

main {
	padding-top: 50px;
}

.search-place {
	background-color: var(--main-color);
	flex-direction: column;
    justify-content: space-around;
    align-items: center;
	min-height: 250px;
    box-shadow: 0 0 5px 1px #ccc;
}

.popular,
.new {
    flex-direction: column;
}

.card {
    float: left;
	width: 32%;
	height: 300px;
	border-radius: 4px;
	background: green;
}

.card:nth-child(2) {
    margin: 0 2%;
}

.search-place form {
    box-shadow: 0 0 4px 0 #707070;
}

.search-place input[type=text] {
    border: none;
    width: 40%;
    padding-left: 10px;
    font-size: 14pt;
    line-height: 2;
}

.search-place input[type=text]:nth-child(n+1) {
    border-left: 1px solid;
    border-color: darkgrey;
}

.search-place input[type=submit] {
    border: none;
    background: orange;
    color: white;
    width: 20%;
    cursor: pointer;
}

.search-place input[type=submit]:hover {
    background: #ffb42a;
    transition: all .3s;
}

.search-place input[type=submit]:not(:hover) {
    background: orange;
    transition: all .3s;
}

.main_admin {
    padding-top: 30px; 
    width: 950px;
    margin: 0 auto;
}

.left_menu {
    float: left;
    width: 280px;
    min-height: 100px;
    background: #e8e8e8;
    box-shadow: 0 0 2px 0 #9a9a9a;
    padding: 10px;
}

.left_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.right_form {
    float: right;
    width: 620px;
    min-height: 400px;
    background: #e8e8e8;
    box-shadow: 0 0 2px 0 #9a9a9a;
    padding: 10px;
}

/********************************************************/
/*				FOOTER 									*/
/********************************************************/

footer {
	height: 50px;
	justify-content: center;
}

.main-footer {
	align-items: center;
}

.search-place form {
    display: flex;
    justify-content: center;
}
