:root {
	--main-color: #7cc2da;
}

body {
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
}

header,
main,
footer {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
	color: black;
}

.wrapper {
	display: flex;
	width: 940px;
}

/********************************************************/
/*				HEADER 									*/
/********************************************************/

header {
	height: 450px;
	justify-content: space-between;
	background: url(http://placehold.it/1920x370) no-repeat;
	background-position: bottom;
}

.main-header {
	height: 80px;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin-left: 10px;
	font-weight: bold;
	color: var(--main-color);
	font-size: 20px;
}

.menu ul {
	padding: 0;
}

.menu li {
	display: inline-block;
	margin-right: 10px;
}

.header_admin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    background: #64bf92;
    width: 100%;
}

.left_admin {
    margin-left: 10px;
}

.left_admin li {
    height: 60px;
    background: black;
}

.header_admin a {
    color: white;
}

.right_admin {
    margin-right: 10px;
}



/********************************************************/
/*				MAIN 									*/
/********************************************************/

main {
	padding-top: 50px;
}

.search-place {
	background-color: var(--main-color);
	flex-direction: column;
    justify-content: space-around;
    align-items: center;
	min-height: 250px;
    box-shadow: 0 0 5px 1px #ccc;
}

.popular,
.new {
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.card {
	width: 32%;
	height: 300px;
	border-radius: 4px;
	background: green;
}

.search-place form {
    box-shadow: 0 0 4px 0 #707070;
}

.search-place input[type=text] {
    border: none;
    width: 40%;
    padding-left: 10px;
    font-size: 14pt;
    line-height: 2;
}

.search-place input[type=text]:nth-child(n+1) {
    border-left: 1px solid;
    border-color: darkgrey;
}

.search-place input[type=submit] {
    border: none;
    background: orange;
    color: white;
    width: 20%;
    cursor: pointer;
}

/********************************************************/
/*				FOOTER 									*/
/********************************************************/

footer {
	height: 50px;
	justify-content: center;
}

.main-footer {
	align-items: center;
}

.search-place form {
    display: flex;
    justify-content: center;
}
